<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>存储爬取的数据</title>
<style>
    p{
        width:100%;
        font-size:40px;
        font-weight: 600;
        text-align: center;
    }
    div{
        height: 35px;
    }
    input{
        position: absolute;
        outline: none;
        background: orange;
        border: 1px solid orange;
        border-radius: 5px;
        width: 80px;height: 30px;
        text-align: center;
    }
</style>
</head>
<body>
   <p>{{ msg }}</p>
   <div align="center">
       <input name="click" value="点击返回"/>
   </div>

</body>
</html>
